.bulb{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 60px solid black;
}
button{
    padding: 40px 40px;
    font-size: 30px;
    border-radius: 50px;
    margin: 50px;
}